# ============================================================
# Global ignores (entire repo)
# ============================================================

# Jupyter
**/.ipynb_checkpoints/

# Bulky artifacts (ignore everywhere by default)
*.csv
*.tsv
*.dta
*.sav
*.parquet
*.feather
*.xlsx
*.xls

*.pdf

*.tex
*.bib
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex*
*.toc

*.zip
*.tar
*.tar.gz
*.tgz
*.gz
*.7z


# ============================================================
# Exception: allow these filetypes under ut_austin_metrics/
# ============================================================

!ut_austin_metrics/**/*.csv
!ut_austin_metrics/**/*.tsv
!ut_austin_metrics/**/*.dta
!ut_austin_metrics/**/*.sav
!ut_austin_metrics/**/*.parquet
!ut_austin_metrics/**/*.feather
!ut_austin_metrics/**/*.xlsx
!ut_austin_metrics/**/*.xls

!ut_austin_metrics/**/*.pdf

!ut_austin_metrics/**/*.tex
!ut_austin_metrics/**/*.bib

!ut_austin_metrics/**/*.zip
!ut_austin_metrics/**/*.tar
!ut_austin_metrics/**/*.tar.gz
!ut_austin_metrics/**/*.tgz
!ut_austin_metrics/**/*.gz
!ut_austin_metrics/**/*.7z